:root {
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: rgb(30, 31, 41);
  --very-dark-black: hsl(234, 17%, 12%);
  --font: "Red Hat Text", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background: var(--very-dark-blue);
  font-family: var(--font);
  color: var(--white);
}

h2 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 12px;
  padding: 3rem;
  text-align: center;
}
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/bg-stars.svg");
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 8rem;
}

.countdown h4 {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 5px;
  opacity: 0.7;
}

.day,
.hour,
.minute,
.second {
  font-size: 4rem;
  padding: 1rem;
  margin: 1rem;
  width: 100px;
  color: var(--soft-red);
  background-color: var(--dark-desaturated-blue);
  border-radius: 5px;
  box-shadow: 0px 6px 0px var(--very-dark-black);
}

.img-bottom {
  width: 100vw;
  bottom: -50px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: url("../images/pattern-hills.svg");
}

.img-bottom svg {
  margin: 0 1rem;
  cursor: pointer;
}
@media (max-width: 768px) {
}
